<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Image sharing App </div>
  <div class="list-group list-group-flush">
    <%= link_to "Home Page", root_path, class: "list-group-item list-group-item-action bg-light" %>
    <% if user_signed_in? %>
      <%= link_to "User Profile", albums_path, class: "list-group-item list-group-item-action bg-light"%>
      <%= link_to 'Add Ablum', new_album_path, class: "list-group-item list-group-item-action bg-lighty" %>
    <% end %>
  </div>
</div>
<!-- /#sidebar-wrapper -->
