<section id="main-content">
  <section class="wrapper">
    <div class="panel">
      <header class="panel-heading">
        <h2>All Album</h2>
        <% if user_signed_in? %>
          <%= link_to 'Add',new_album_path, class: "btn btn-default pull-right" %>
        <% end %>
      </header>
      <div class="panel-body">
        <table class="table table-bordered table-hover general-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <% @albums.each do |album| %>
            <tbody>
              <tr>
                <td>
                  <%= album.name %>
                </td>
                <td>
                  <%= link_to 'Show', album_path(album) %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </section>
</section>
