<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: "form-control" %>
</div>
<div class="actions">
  <%= f.submit "Submit", class: "btn btn-default btn-primary martop10px" %>
</div>
