<section id="main-content">
  <section class="wrapper"></section>
  <div class="panel">
    <header class="panel-heading">
      <h2>
        Add aAlbum
      </h2>
    </header>
    <div class="panel-body">
      <%= form_for(@album, url: albums_path,html: {multipart: :true}) do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</section>
